<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias</title>
    <link rel="stylesheet" href="style.css"> <!-- adicionando o arquivo css-->
    <link rel="stylesheet" href="scripts.js">
</head>


<body id="page_ideas">
   <div id="container">
    <header>
        <img src="logo.png" alt="logomarca"  width="300" height="80">
        <nav>
            <li>
                <a href="/">Início</a>
            </li>
            
            <li>
                <a href="#" onclick="onOff()">Nova ideia</a>
            </li>
        </nav>
    </header>
    <section id="title"><h1> ideias</h1></section>
    <main>
        <section id="ideas">
            <!--para pegar os icons https://www.flaticon.com/-->
            {% include "allIdeas.html" %}
        </section>
        
    </main>
    <footer>
        <a href="https://www.linkedin.com/in/gabriel-alves-das-neves-19009b13b/" target="_blank">G. das Neves</a> 
    </footer>
    {% include "modal.html" %}
  <script src="scripts.js"></script>
</body>


</html>