<!DOCTYPE html>

<html>
    <!--coments-->
    <head>
        <title>Dibobeira</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <link rel="stylesheet" href="style.css"> <!-- adicionando o arquivo css-->
        <link rel="stylesheet" href="scripts.js">
    
    </head>

    <body>
        

        <div id="container">
            <section id="intro">

                <header>
                    <img src="/logo.png" alt="logo image" width="300" height="80">
                </header>    
            
                <main>
                    
                    <p>
                        As vezes estamos tão acostumados com a rotina que, quando nos deparamos com 
                        um "tempo livre", não sabemos o que fazer, não é?
                    </p>

                    <p>
                        Aqui iremos catalogar ideias de coisas produtivas e/ou saudáveis para fazermos bom 
                        proveito dessa janela na rotina.
                    </p>
                    <p>
                        Comece clicando em ver ideias ou contribua adicionando uma ideia.
                    </p>
                </main>
                
                <section id="buttons">
                    <button onclick="onOff()">
                        Adicionar ideia
                    </button>
                    <a href="/ideias">
                        <button class = "fat">
                            Ver ideias
                        </button>
                    </a>
                </section>                

                <footer>
                    <a href="https://www.linkedin.com/in/gabriel-alves-das-neves-19009b13b/" target="_blank">G. das Neves</a> 
                </footer>

            </section>

            <section id="last_ideas">
                <!--para pegar os icons https://www.flaticon.com/-->

                <!--para usar esse for temos que usar o nunjucks no server.js-->
                {% include "allIdeas.html" %}                                   
 
            </section>

        </div>

        {% include "modal.html" %}

      <script src="/scripts.js"></script>



    </body>

</html>