<div id="modal" class="hide">
    <div class="content">
        <h1>Nova ideia</h1>
        <form action="">

            <div class="input_wrapper">
                <label for="title">Titulo da ideia</label>
                <input type="text" name="title">
            </div>

            <div class="input_wrapper">
                <label for="category">Categoria</label>
                <input type="text" name="category">
            </div>
                
            <div class="input_wrapper">
                <label for="image">Link da imagem</label>
                <input type="url" name="image">
            </div>
                    
            <div class="input_wrapper">
                <label for="description">Digite uma descrição da ideia</label>
                <textarea type="text" name="description"></textarea>
            </div>

            <div class="input_wrapper">
                <label for="link">Link da ideia</label>
                <input type="url" name="link">
            </div>
            
            
            <a id="back_button" href="#" onclick="onOff()" >voltar</a>
            <button>Salvar</button>
                
            </div>
        </form>
    </div>
</div>
